.notice-wrapper {
  padding: 18px;
  border-radius: 8px;
  background-color: #fff;
}
.notice-wrapper .notice-title {
  font-size: 18px;
  color: #888;
}
.notice-wrapper .notice-title img {
  width: 21px;
  margin-right: 10px;
}
.notice-wrapper .notice-table-wrapper {
  margin-top: 18px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
}
